<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{templateBase/BaseAdminLTE}">

<head>
	<meta charset="utf-8">
	<title>Insert title here</title>
</head>

<body>


	<select th:fragment="categories" id="category" name="category" data-placeholder="Seleccione categoría"
		aria-describedby="" class="form-control select2">
		<option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.categoryName}">
		</option>
	</select>





</body>

</html>