<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Dashboard V.1 | Kiaalap - Kiaalap Admin Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- favicon
		============================================ -->
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
	<!-- Google Fonts
		============================================ -->
	<!-- Bootstrap CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<!-- Bootstrap CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<!-- owl.carousel CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
	<link rel="stylesheet" th:href="@{/css/owl.theme.css}">
	<link rel="stylesheet" th:href="@{/css/owl.transitions.css}">
	<!-- animate CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/animate.css}">
	<!-- normalize CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/normalize.css}">
	<!-- meanmenu icon CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/meanmenu.min.css}">
	<!-- main CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<!-- educate icon CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/educate-custon-icon.css}">
	<!-- morrisjs CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/morrisjs/morris.css}">
	<!-- mCustomScrollbar CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/scrollbar/jquery.mCustomScrollbar.min.css}">
	<!-- metisMenu CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/metisMenu/metisMenu.min.css}">
	<link rel="stylesheet" th:href="@{/css/metisMenu/metisMenu-vertical.css}">
	<!-- calendar CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/calendar/fullcalendar.min.css}">
	<link rel="stylesheet" th:href="@{/css/calendar/fullcalendar.print.min.css}">


	<!-- normalize CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/data-table/bootstrap-table.css}">
	<link rel="stylesheet" th:href="@{/css/data-table/bootstrap-editable.css}">

	<!-- style CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/style.css}">
	<!-- responsive CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/responsive.css}">
	<!-- modernizr JS
		============================================ -->
	<script th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>


	<!-- modals CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/modals.css}">




	<!-- datapicker CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/datapicker/datepicker3.css}">





	<link rel="stylesheet" th:href="@{/notification/toastr.css}">


	<!-- SELECT2 -->
	<link rel="stylesheet" th:href="@{/select2/css/select2.min.css}">
</head>

<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!-- Start Left menu area -->
	<div class="left-sidebar-pro">
		<nav id="sidebar" class="">
			<div class="sidebar-header">
				<a href="index.html"><img class="main-logo" th:src="@{/logo/logo.jpgp}" alt="" /></a> <strong><a
						href="index.html"><img th:src="@{/logo/logo.jpgp}" alt="" /></a></strong>
			</div>
			<div class="left-custom-menu-adp-wrap comment-scrollbar">
				<nav class="sidebar-nav left-sidebar-menu-pro">
					<ul class="metismenu" id="menu1">

						<li><a title="Landing Page" th:href="@{/index}" aria-expanded="false"> <span
									class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span>
								<span class="mini-click-non">Inicio</span></a>
						</li>

						<li class="active" sec:authorize="hasAnyRole('ADMIN')"><a class="has-arrow" href="index.html">
								<span class="fa fa-cogs"></span>
								<span class="mini-click-non">Administración</span>
							</a>
							<ul class="submenu-angle" aria-expanded="true">
								<li><a title="Lista de usuario" th:href="@{/user/users}"><span
											class="mini-sub-pro">Lista de usuario</span></a></li>
								<li><a title="Añadir usuario" th:href="@{/user/addUser}"><span class="mini-sub-pro">Add
											usuario</span></a></li>
								<li><a title="Añadir permisos" th:href="@{/user/addPermisos}"><span
											class="mini-sub-pro">Add permisos</span></a></li>

								<li><a title="Añadir permisos" th:href="@{/user/resetpass}"><span
											class="mini-sub-pro">Reset contraseña</span></a></li>
							</ul>
						</li>


						<li class="active" sec:authorize="hasAnyRole('EMPLOYE') or hasAnyRole('ADMIN')"><a
								class="has-arrow" href="index.html">
								<span class="fa fa-user-o"></span>
								<span class="mini-click-non">Empleado</span>
							</a>
							<ul class="submenu-angle" aria-expanded="true">
								<li><a title="Lista de usuario" th:href="@{/employe/employes}"><span
											class="mini-sub-pro">Empleados</span></a></li>
								<li><a title="Añadir permisos" th:href="@{/employe/add}"><span class="mini-sub-pro">Add
											empleado</span></a></li>


							</ul>
						</li>


						<li class="active" sec:authorize="hasAnyRole('DEPARTMENT') OR hasAnyRole('ADMIN')"><a
								class="has-arrow" href="index.html">
								<span class="fa fa-cogs"></span>
								<span class="mini-click-non">Departamento</span>
							</a>
							<ul class="submenu-angle" aria-expanded="true">
								<li><a title="Lista de usuario" th:href="@{/department/departments}"><span
											class="mini-sub-pro">Departamentos</span></a></li>
								<li><a title="Añadir permisos" th:href="@{/department/add}"><span
											class="mini-sub-pro">Add
											Departamentos</span></a></li>


							</ul>


						</li>





					</ul>

				</nav>
			</div>
		</nav>
	</div>
	<!-- End Left menu area -->
	<!-- Start Welcome area -->
	<div class="all-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="logo-pro">
						<a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
					</div>
				</div>
			</div>
		</div>
		<div class="header-advance-area">
			<div class="header-top-area">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="header-top-wraper">
								<div class="row">
									<div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
										<div class="menu-switcher-pro">
											<button type="button" id="sidebarCollapse"
												class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
												<i class="educate-icon educate-nav"></i>
											</button>
										</div>
									</div>
									<div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
										<div class="header-top-menu tabl-d-n">
											<ul class="nav navbar-nav mai-top-nav">
												<li class="nav-item"><a href="#" class="nav-link"></a>
												</li>
												<li class="nav-item"><a href="#" class="nav-link"></a>
												</li>
												<li class="nav-item"><a href="#" class="nav-link"></a>
												</li>

												<li class="nav-item"><a href="#" class="nav-link"></a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
										<div class="header-right-info">
											<ul class="nav navbar-nav mai-top-nav header-right-menu">


										<!--  <input type="hidden" id="userprincipal" value="prueba"
													th:value="${#authentication.principal.username}" />-->		

												<li class="nav-item" style="left: -30%;">
												<!--	<a href="#" data-toggle="dropdown" role="button"
														aria-expanded="false" class="nav-link dropdown-toggle">
														
															<img src="img/product/pro4.jpg" alt="" /><span
															class="admin-name"
															th:text="${#authentication.principal.username}"></span> <i
															class="fa fa-angle-down edu-icon edu-down-arrow"> </i>
													</a>--> 
													<ul role="menu"
														class="dropdown-header-top author-log dropdown-menu animated zoomIn">

														<li><a th:href="@{/profile}"><span
																	class="edu-icon edu-user-rounded author-log-ic"></span>
																Perfil</a></li>


														<li><a th:href="@{/logout}"><span
																	class="edu-icon edu-locked author-log-ic"></span>Logout
															</a></li>
													</ul>
												</li>



											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Mobile Menu start -->
			<div class="mobile-menu-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="mobile-menu">
								<nav id="dropdown">
									<ul class="mobile-menu-nav">
										<li><a data-toggle="collapse" data-target="#Charts" href="#">Home <span
													class="admin-project-icon edu-icon edu-down-arrow"></span></a>
											<ul class="collapse dropdown-header-top">
												<li><a href="index.html">Dashboard v.1</a></li>
												<li><a href="index-1.html">Dashboard v.2</a></li>
												<li><a href="index-3.html">Dashboard v.3</a></li>
												<li><a href="analytics.html">Analytics</a></li>
												<li><a href="widgets.html">Widgets</a></li>
											</ul>
										</li>
										<li><a href="events.html">Event</a></li>
										<li><a data-toggle="collapse" data-target="#demoevent" href="#">Professors <span
													class="admin-project-icon edu-icon edu-down-arrow"></span></a>
											<ul id="demoevent" class="collapse dropdown-header-top">
												<li><a href="all-professors.html">All Professors</a></li>
												<li><a href="add-professor.html">Add Professor</a></li>
												<li><a href="edit-professor.html">Edit Professor</a></li>
												<li><a href="professor-profile.html">Professor
														Profile</a></li>
											</ul>
										</li>
										<li><a data-toggle="collapse" data-target="#demopro" href="#">Students <span
													class="admin-project-icon edu-icon edu-down-arrow"></span></a>
											<ul id="demopro" class="collapse dropdown-header-top">
												<li><a href="all-students.html">All Students</a></li>
												<li><a href="add-student.html">Add Student</a></li>
												<li><a href="edit-student.html">Edit Student</a></li>
												<li><a href="student-profile.html">Student Profile</a>
												</li>
											</ul>
										</li>
										<li><a data-toggle="collapse" data-target="#democrou" href="#">Courses <span
													class="admin-project-icon edu-icon edu-down-arrow"></span></a>
											<ul id="democrou" class="collapse dropdown-header-top">
												<li><a href="all-courses.html">All Courses</a></li>
												<li><a href="add-course.html">Add Course</a></li>
												<li><a href="edit-course.html">Edit Course</a></li>
												<li><a href="course-profile.html">Courses Info</a></li>
												<li><a href="course-payment.html">Courses Payment</a></li>
											</ul>
										</li>
										<li><a data-toggle="collapse" data-target="#demolibra" href="#">Library <span
													class="admin-project-icon edu-icon edu-down-arrow"></span></a>
											<ul id="demolibra" class="collapse dropdown-header-top">
												<li><a href="library-assets.html">Library Assets</a></li>
												<li><a href="add-library-assets.html">Add Library
														Asset</a></li>
												<li><a href="edit-library-assets.html">Edit Library
														Asset</a></li>
											</ul>
										</li>
										<li><a data-toggle="collapse" data-target="#demodepart" href="#">Departments
												<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
											<ul id="demodepart" class="collapse dropdown-header-top">
												<li><a href="departments.html">Departments List</a></li>
												<li><a href="add-department.html">Add Departments</a></li>
												<li><a href="edit-department.html">Edit Departments</a>
												</li>
											</ul>
										</li>
										<li><a data-toggle="collapse" data-target="#demo" href="#">Mailbox <span
													class="admin-project-icon edu-icon edu-down-arrow"></span></a>
											<ul id="demo" class="collapse dropdown-header-top">
												<li><a href="mailbox.html">Inbox</a></li>
												<li><a href="mailbox-view.html">View Mail</a></li>
												<li><a href="mailbox-compose.html">Compose Mail</a></li>
											</ul>
										</li>
										<li><a data-toggle="collapse" data-target="#Miscellaneousmob" href="#">Interface
												<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
											<ul id="Miscellaneousmob" class="collapse dropdown-header-top">
												<li><a href="google-map.html">Google Map</a></li>
												<li><a href="data-maps.html">Data Maps</a></li>
												<li><a href="pdf-viewer.html">Pdf Viewer</a></li>
												<li><a href="x-editable.html">X-Editable</a></li>
												<li><a href="code-editor.html">Code Editor</a></li>
												<li><a href="tree-view.html">Tree View</a></li>
												<li><a href="preloader.html">Preloader</a></li>
												<li><a href="images-cropper.html">Images Cropper</a></li>
											</ul>
										</li>
										<li><a data-toggle="collapse" data-target="#Chartsmob" href="#">Charts <span
													class="admin-project-icon edu-icon edu-down-arrow"></span></a>
											<ul id="Chartsmob" class="collapse dropdown-header-top">
												<li><a href="bar-charts.html">Bar Charts</a></li>
												<li><a href="line-charts.html">Line Charts</a></li>
												<li><a href="area-charts.html">Area Charts</a></li>
												<li><a href="rounded-chart.html">Rounded Charts</a></li>
												<li><a href="c3.html">C3 Charts</a></li>
												<li><a href="sparkline.html">Sparkline Charts</a></li>
												<li><a href="peity.html">Peity Charts</a></li>
											</ul>
										</li>
										<li><a data-toggle="collapse" data-target="#Tablesmob" href="#">Tables <span
													class="admin-project-icon edu-icon edu-down-arrow"></span></a>
											<ul id="Tablesmob" class="collapse dropdown-header-top">
												<li><a href="static-table.html">Static Table</a></li>
												<li><a href="data-table.html">Data Table</a></li>
											</ul>
										</li>
										<li><a data-toggle="collapse" data-target="#formsmob" href="#">Forms <span
													class="admin-project-icon edu-icon edu-down-arrow"></span></a>
											<ul id="formsmob" class="collapse dropdown-header-top">
												<li><a href="basic-form-element.html">Basic Form
														Elements</a></li>
												<li><a href="advance-form-element.html">Advanced
														Form Elements</a></li>
												<li><a href="password-meter.html">Password Meter</a></li>
												<li><a href="multi-upload.html">Multi Upload</a></li>
												<li><a href="tinymc.html">Text Editor</a></li>
												<li><a href="dual-list-box.html">Dual List Box</a></li>
											</ul>
										</li>
										<li><a data-toggle="collapse" data-target="#Appviewsmob" href="#">App views
												<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
											<ul id="Appviewsmob" class="collapse dropdown-header-top">
												<li><a href="basic-form-element.html">Basic Form
														Elements</a></li>
												<li><a href="advance-form-element.html">Advanced
														Form Elements</a></li>
												<li><a href="password-meter.html">Password Meter</a></li>
												<li><a href="multi-upload.html">Multi Upload</a></li>
												<li><a href="tinymc.html">Text Editor</a></li>
												<li><a href="dual-list-box.html">Dual List Box</a></li>
											</ul>
										</li>
										<li><a data-toggle="collapse" data-target="#Pagemob" href="#">Pages <span
													class="admin-project-icon edu-icon edu-down-arrow"></span></a>
											<ul id="Pagemob" class="collapse dropdown-header-top">
												<li><a href="login.html">Login</a></li>
												<li><a href="register.html">Register</a></li>
												<li><a href="lock.html">Lock</a></li>
												<li><a href="password-recovery.html">Password
														Recovery</a></li>
												<li><a href="404.html">404 Page</a></li>
												<li><a href="500.html">500 Page</a></li>
											</ul>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Mobile Menu end -->

			<div class="breadcome-area">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="breadcome-list single-page-breadcome">
								<!--	<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="breadcome-heading">
											<form role="search" class="sr-input-func">
												<input type="text" placeholder="Search..."
													class="search-int form-control">
												<a href="#"><i class="fa fa-search"></i></a>
											</form>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<ul class="breadcome-menu">
											<li><a href="#">Home</a> <span class="bread-slash">/</span>
											</li>
											<li><span class="bread-blod">Data Table</span>
											</li>
										</ul>
									</div>
								</div>-->
							</div>
						</div>
					</div>
				</div>
			</div>




		</div>


		<div layout:fragment="content"></div>





		<div class="footer-copyright-area">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="footer-copy-right">
							<p>

							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- jquery
		============================================ -->
	<script th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>






	<!-- bootstrap JS
		============================================ -->
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- wow JS
		============================================ -->
	<script th:src="@{/js/wow.min.js}"></script>
	<!-- price-slider JS
		============================================ -->
	<script th:src="@{/js/jquery-price-slider.js}"></script>
	<!-- meanmenu JS
		============================================ -->
	<script th:src="@{/js/jquery.meanmenu.js}"></script>
	<!-- owl.carousel JS
		============================================ -->
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<!-- sticky JS
		============================================ -->
	<script th:src="@{/js/jquery.sticky.js}"></script>
	<!-- scrollUp JS
		============================================ -->
	<script th:src="@{/js/jquery.scrollUp.min.js}"></script>
	<!-- counterup JS
		============================================ -->
	<script th:src="@{/js/counterup/jquery.counterup.min.js}"></script>
	<script th:src="@{/js/counterup/waypoints.min.js}"></script>
	<script th:src="@{/js/counterup/counterup-active.js}"></script>
	<!-- mCustomScrollbar JS
		============================================ -->
	<script th:src="@{/js/scrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
	<script th:src="@{/js/scrollbar/mCustomScrollbar-active.js}"></script>
	<!-- metisMenu JS
		============================================ -->
	<script th:src="@{/js/metisMenu/metisMenu.min.js}"></script>
	<script th:src="@{/js/metisMenu/metisMenu-active.js}"></script>
	<!-- morrisjs JS
		============================================ -->
	<script th:src="@{/js/morrisjs/raphael-min.js}"></script>
	<script th:src="@{/js/morrisjs/morris.js}"></script>
	<script th:src="@{/js/morrisjs/morris-active.js}"></script>
	<!-- morrisjs JS
		============================================ -->
	<script th:src="@{/js/sparkline/jquery.sparkline.min.js}"></script>
	<script th:src="@{/js/sparkline/jquery.charts-sparkline.js}"></script>
	<script th:src="@{/js/sparkline/sparkline-active.js}"></script>
	<!-- calendar JS
		============================================ -->
	<script th:src="@{/js/calendar/moment.min.js}"></script>
	<script th:src="@{/js/calendar/fullcalendar.min.js}"></script>
	<script th:src="@{/js/calendar/fullcalendar-active.js}"></script>
	<!-- plugins JS
		============================================ -->
	<script th:src="@{/js/plugins.js}"></script>
	<!-- main JS
		============================================ -->
	<script th:src="@{/js/main.js}"></script>
	<!-- tawk chat JS
		============================================ -->
	<script th:src="@{/js/tawk-chat.js}"></script>



	<!-- data table JS
		============================================ -->
	<script th:src="@{/js/data-table/bootstrap-table.js}"></script>
	<script th:src="@{/js/data-table/tableExport.js}"></script>
	<script th:src="@{/js/data-table/data-table-active.js}"></script>
	<script th:src="@{/js/data-table/bootstrap-table-editable.js}"></script>
	<script th:src="@{/js/data-table/bootstrap-editable.js}"></script>
	<script th:src="@{/js/data-table/bootstrap-table-resizable.js}"></script>
	<script th:src="@{/js/data-table/colResizable-1.5.source.js}"></script>
	<script th:src="@{/js/data-table/bootstrap-table-export.js}"></script>




	s
	<!-- icheck JS
                    ============================================ -->
	<script th:src="@{/js/icheck/icheck.min.js}"></script>
	<script th:src="@{/js/icheck/icheck-active.js}"></script>



	<!-- notification toast JS
============================================ -->
	<script th:src="@{/notification/glimpse.js}"></script>
	<script th:src="@{/notification/glimpse_002.js}"></script>

	<script th:src="@{/notification/toastr.js}"></script>


	<!-- icheck JS
                    ============================================ -->
	<script th:src="@{/js/icheck/icheck.min.js}"></script>
	<script th:src="@{/js/icheck/icheck-active.js}"></script>



	<!-- datapicker JS
		============================================ -->
	<script th:src="@{/js/datapicker/bootstrap-datepicker.js}"></script>
	<script th:src="@{/js/datapicker/datepicker-active.js}"></script>


	<script th:src="@{/select2/js/select2.min.js}"></script>





	<!-- input-mask JS
		============================================ -->
	<script th:src="@{/js/input-mask/jasny-bootstrap.min.js}"></script>

	<script>



		$(document).ready(function () {
			$('.select2').select2();
		});






		$('#fechaafectacion').datepicker({
			startView: 1,
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			autoclose: true,
			format: "dd-mm-yyyy"
		});

		$('#datepickerrango').datepicker({
			startView: 1,
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			autoclose: true,
			format: "dd-mm-yyyy"

		});



		$('#fechasuplemento').datepicker({
			startView: 1,
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			autoclose: true,
			format: "dd-mm-yyyy"
		});
		$('#fechasuscripcion').datepicker({
			startView: 1,
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			autoclose: true,
			format: "dd-mm-yyyy"
		});

		$('#fechavigencia').datepicker({
			startView: 1,
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			autoclose: true,
			format: "dd-mm-yyyy"
		});




		/*validar solo number en input */

		function valideKey(evt) {
			// code is the decimal ASCII representation of the pressed key.
			var code = (evt.which) ? evt.which : evt.keyCode;

			var code = (evt.which) ? evt.which : evt.keyCode;

			if (code == 8) { // backspace.
				return true;
			} else if (code >= 48 && code <= 57) { // is a number.
				return true;
			} else { // other keys.
				return false;
			}
		}

		/*fin validar solo number en input */




		$(document).ready(function () {

			/*alert(temp)*/

			toastr["[[${msgtipo}]]"]("[[${msgbody}]]", "[[${msgtitu}]]");
		});







	</script>



</body>

</html>