<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Dashboard V.1 | Kiaalap - Kiaalap Admin Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- favicon
		============================================ -->
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
	<!-- Google Fonts
		============================================ -->
	<!-- Bootstrap CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<!-- Bootstrap CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<!-- owl.carousel CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
	<link rel="stylesheet" th:href="@{/css/owl.theme.css}">
	<link rel="stylesheet" th:href="@{/css/owl.transitions.css}">
	<!-- animate CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/animate.css}">
	<!-- normalize CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/normalize.css}">
	<!-- meanmenu icon CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/meanmenu.min.css}">
	<!-- main CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<!-- educate icon CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/educate-custon-icon.css}">
	<!-- morrisjs CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/morrisjs/morris.css}">
	<!-- mCustomScrollbar CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/scrollbar/jquery.mCustomScrollbar.min.css}">
	<!-- metisMenu CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/metisMenu/metisMenu.min.css}">
	<link rel="stylesheet" th:href="@{/css/metisMenu/metisMenu-vertical.css}">
	<!-- calendar CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/calendar/fullcalendar.min.css}">
	<link rel="stylesheet" th:href="@{/css/calendar/fullcalendar.print.min.css}">


	<!-- normalize CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/data-table/bootstrap-table.css}">
	<link rel="stylesheet" th:href="@{/css/data-table/bootstrap-editable.css}">

	<!-- style CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/style.css}">
	<!-- responsive CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/responsive.css}">
	<!-- modernizr JS
		============================================ -->
	<script th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>


	<!-- modals CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/modals.css}">




	<!-- datapicker CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{/css/datapicker/datepicker3.css}">





	<link rel="stylesheet" th:href="@{/notification/toastr.css}">


	<!-- SELECT2 -->
	<link rel="stylesheet" th:href="@{/select2/css/select2.min.css}">
</head>

<body>

	<div layout:fragment="content"></div>


</body>

</html>