<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{templateBase/BaseAdminLTE}">

<head>
	<meta charset="utf-8">
	<title>Insert title here</title>
</head>

<body>



	<div layout:fragment="content">

		<script th:src="@{/plugins/jquery/jquery.min.js}"></script>

		<div class="card card-primary">
			<div class="card-header">
				<h3 class="card-title" th:text="#{N.task.add}"></h3>
			</div>
			<!-- /.card-header -->
			<!-- form start -->
			<form th:object="${task}" method="post" th:action="@{/task/addTask}">
				<div class="card-body">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<label class="login2">Nombre </label> <input name="firstname" type="text"
								class="form-control" placeholder="Nombre de la tarea" th:field="*{taskName}">


						</div>
						<div class="form-group">
							<label class="login2">Usuario </label>
							<select class="form-control select2" style="width: 100%;" th:field="*{user.userId}">
								<option value="-1">Seleccione usuario</option>
								<option th:each="user:${users}" th:value="${user.userId}" th:text="${user.username}">
								</option>

							</select>


						</div>
						<div class="form-group">
							<label class="login2">Estado </label>

							<select class="form-control select2" style="width: 100%;" th:field="*{status}"
								data-placeholder="Seleccione estado de tarea">
								<option value="-1">Seleccione estado de tarea</option>
								<option th:each="estado:${estatustasks}" th:value="${estado}" th:text="${estado}">
								</option>

							</select>

						</div>

						<div class="form-group">
							<label class="login2">Categoria </label>



							<div class="row d-flex align-items-center">
								<!-- Utiliza.d-flex y.align-items-center para alinear verticalmente -->
								<div class="col-lg-6">
									<select class="form-control select2" multiple="multiple" style="width: 100%;"
										name="catetogories" data-placeholder="Seleccione estado de tarea"
										id="combocategories">
										<option th:each="category:${categories}" th:value="${category.categoryName}"
											th:text="${category.categoryName}"></option>
									</select>
								</div>
								<div class="col-lg-6 text-end">
									<!-- Asegúrate de cerrar el div anterior antes de abrir este nuevo div -->
									<a th:href="@{/task/add}" class="btn btn-primary form-control" data-toggle="modal"
										data-target="#uiModalAddCategory" style="width: 75px;"><i
											class="fa fa-plus"></i>
										Agregar categoria</a>
								</div>
							</div>

						</div>
						<!-- Date and time -->
						<div class="form-group">
							<label>Dead line:</label>
							<div class="input-group date" id="reservationdatetime" data-target-input="nearest">
								<input type="text" class="datetimepicker-input" th:field="*{deadline}" data-toggle="datetimepicker"
									data-target="#reservationdatetime" />
								<div class="input-group-append" data-target="#reservationdatetime"
									data-toggle="datetimepicker">
									<div class="input-group-text"><i class="fa fa-calendar"></i></div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-group res-mg-t-15">
								<label class="login2">Descripción </label>
								<textarea name="descripcion" class="form-control" th:field="*{description}"
									id="descripcion" placeholder="Descripción"></textarea>
								<p class="text-danger" th:if="${#fields.hasErrors('description')}"
									th:errors="*{description}"
									th:class="${#fields.hasErrors('description')}? text-danger"></p>
							</div>
						</div>








					</div>






					<div class="card-footer">
						<a class="btn btn-primary waves-effect waves-light" th:href="@{/user/users}"><i
								class="fa fa-users"></i> Cancelar</a>
						<button type="submit" class="btn btn-primary waves-effect waves-light">
							<i class="fa fa-save"></i> Aceptar
						</button>


					</div>


				</div>
				<!-- /.card-body -->




				<!--MODAL ADD CATEGORIA -->
				<div class="modal fade" id="uiModalAddCategory">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Agregar Categoría</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">


								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="form-group">
										<label class="login2">Nombre </label> <input id="categoryName"
											name="categoryName" type="text" class="form-control"
											placeholder="Nombre de categoria">

									</div>



								</div>



							</div>
							<div class="modal-footer justify-content-between">
								<button type="button" class="btn btn-default" data-dismiss="modal"><i></i>
									Cancelar</button>
								<button onclick="addCategory()" type="button" class="btn btn-primary"><i
										class="fa fa-save"></i>
									Guardar</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
				<!--END MODAL ADD CATEGORIA -->

			</form>
		</div>


		<script th:inline="javascript" charset="utf-8">
			/* AGREGAR CATEGORIA*/
			function addCategory() {
				var Toast = Swal.mixin({
					toast: true,
					position: 'top-end',
					showConfirmButton: false,
					timer: 3000
				});
				var categoryName = $('#categoryName').val();
				if (categoryName != "") { //validar que el pueblo a insertar no este vacio
					$.ajax({
						url: '/category/addCategory',
						dataType: 'json',
						method: 'POST',
						data: {
							categoryName: categoryName
						},
						success: function (data) {
							Toast.fire({
								title: data.msgtitle,
								text: data.msgbody,
								icon: data.msgtype
							})
							$('#categoryName').val('');
							/*cargar dinamicamente el combo con las categorias actualizadas*/
							$('#combocategories').load("/category/getCategories");
							$('#uiModalAddCategory').modal('hide');
						},
						error: function (data) {
							Toast.fire({
								title: data.msgtitle,
								text: data.msgbody,
								icon: data.msgtype
							})
						}
					});
				} else {
					var type =/*[[#{Form.group.vacio.type}]]*/;
					var body =/*[[#{Form.group.vacio.body}]]*/;
					var title =/*[[#{Form.group.vacio.title}]]*/;
					Toast.fire({
						title: title,
						text: body,
						icon: type
					})
				}
			}
		</script>



	</div>



</body>

</html>