<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{templateBase/BaseAdminLTE}">

<head>
	<meta charset="utf-8">
	<title>Insert title here</title>
</head>

<body>


	<div layout:fragment="content">


		<div class="card card-primary">
			<div class="card-header">
				<h3 class="card-title" th:text="#{Add.permisos}"></h3>
			</div>


			<!-- Single pro tab review Start-->
			<div class="single-pro-review-area mt-t-30 mg-b-15">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="product-payment-inner-st">
								<div class="sparkline13-hd">
									<div class="main-sparkline13-hd">

									</div>
								</div>

								<form class="dropzone dropzone-custom needsclick add-professors mt-3" id="demo1-upload"
									th:action="@{/addAuthorityToUser}" method="POST">
									<div class="item form-group">
										<label class="col-sm-2 control-label" for="first-name">Usuario <span
												class="required">*</span>
										</label>
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
											<select id="usuario" name="usuario" class="form-control select2"
												data-placeholder="Seleccione grupo" tabindex="-1">
												<option value="-1">Seleccione usuario</option>
												<option th:each="user :${users}" th:value="${user.userId}"
													th:text="${user.username}"></option>
											</select>

										</div>

									</div>

									<div class="item form-group">

										<div th:fragment="contentAutorities">

											<div class="float-right mr-2">
												<div class="float-right">
													<a th:href="@{/}" class="btn btn-success btn-sm"><i
															class=" fa fa-home"></i> Cancelar</a>
													<button type="submit" class="btn btn-primary btn-sm">
														<i class="fa fa-save"></i> Guardar
													</button>
													<span class="section"></span>
												</div>
											</div>
											<br /> <br />
											<table class="table table-striped table-bordered">
												<thead>
													<tr>
														<th>#</th>
														<th>Display name</th>
														<th>Authorities</th>
													</tr>
												</thead>
												<tbody>

													<tr>
														<th style="color: blue;">1</th>
														<td style="font-variant: small-caps;">ADMINISTRADOR</td>
														<td>
															<div class="i-checks pull-left">
																<label> <input type="checkbox" class="flat"
																		name="authorities[]" id="ADMIN"
																		value="ROLE_ADMIN" th:checked="${ROLE_ADMIN}">
																</label>
															</div>
														</td>
													</tr>
													<tr>
														<th style="color: blue;">2</th>
														<td style="font-variant: small-caps;">TASKS</td>
														<td>
															<div class="i-checks pull-left">
																<label> <input type="checkbox" class="flat"
																		name="authorities[]" id="TASK"
																		value="ROLE_TASK" th:checked="${ROLE_TASK}">
																</label>
															</div>
														</td>
													</tr>
													<tr>
														<th style="color: blue;">3</th>
														<td style="font-variant: small-caps;">CATEGORY</td>
														<td>
															<div class="i-checks pull-left">
																<label> <input type="checkbox" class="flat"
																		name="authorities[]" id="CATEGORY"
																		value="ROLE_CATEGORY" th:checked="${ROLE_CATEGORY}">
																</label>
															</div>
														</td>
													</tr>
													<tr>
														<th style="color: blue;">4</th>
														<td style="font-variant: small-caps;">DELETE</td>
														<td>
															<div class="i-checks pull-left">
																<label> <input type="checkbox" class="flat"
																		name="authorities[]" id="COMMENT"
																		value="ROLE_COMMENT" th:checked="${ROLE_COMMENT}">
																</label>
															</div>
														</td>
													</tr>
										
						
												</tbody>
											</table>


										</div>
									</div>






									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

									</div>

								</form>



								<br />
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>




	</div>



</body>

</html>