<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{templateBase/BaseAdminLTE}">

<head>
	<meta charset="utf-8">
	<title>Insert title here</title>
</head>

<body>


	<div layout:fragment="content">
		<div class="card card-primary">
			<div class="card-header">
				<h3 class="card-title">Agregar usuario</h3>
			</div>
			<!-- /.card-header -->
			<!-- form start -->
			<form th:object="${user}" method="POST" th:action="@{/user/update}">
				<div class="card-body">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<input type="hidden" th:field="*{userId}">
						<div class="form-group">
							<label class="login2">Usuario </label> <input name="firstname" type="text"
								class="form-control" placeholder="Usuario" th:field="*{username}">
						</div>
						<div class="form-group">
							<label class="login2">Email </label> <input name="firstname" type="email"
								class="form-control" placeholder="Usuario" th:field="*{email}">
						</div>

						<div class="form-group">
							<div class="form-group res-mg-t-15">
								<label class="login2">Descripción </label>
								<textarea th:field="*{description}" name="descripcion" class="form-control"
									id="descripcion" placeholder="Descripción"></textarea>
							</div>
						</div>
						<div class="form-group">

							<div class="custom-control custom-checkbox">
								<input th:field="*{enabled}" class="custom-control-input" type="checkbox"
									id="customCheckbox2" checked> <label for="customCheckbox2"
									class="custom-control-label">Habilitar</label>
							</div>


						</div>
					</div>


				</div>
				<!-- /.card-body -->

				<div class="card-footer">
					<a class="btn btn-primary waves-effect waves-light" th:href="@{/user/users}"><i
							class="fa fa-users"></i> Cancelar</a>
					<button type="submit" class="btn btn-primary waves-effect waves-light">
						<i class="fa fa-save"></i> Aceptar
					</button>


				</div>
			</form>
		</div>


	</div>



</body>

</html>