<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{templateBase/BaseAdminLTE}">

<head>
    <meta charset="utf-8">
    <title>Insert title here</title>
</head>

<body>


    <div layout:fragment="content">




        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title" th:text="#{N.category.add}"></h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form th:object="${category}" method="POST" th:action="@{/category/add}">
                <input type="hidden" name="categoryId" id="categoryId" th:field="*{categoryId}">

                <div class="card-body">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="login2">Nombre </label> <input name="categoryName" type="text"
                                id="categoryName" class="form-control" placeholder="Nombre de categoría"
                                th:field="*{categoryName}">

                        </div>



                    </div>



                </div>
                <!-- /.card-body -->


                <div class="card-footer">
                    <a class="btn btn-primary waves-effect waves-light" th:href="@{/category/categories}"><i
                            class="fa fa-users"></i> Cancelar</a>
                    <button type="button" onclick="updateCategory();" class="btn btn-primary waves-effect waves-light">
                        <i class="fa fa-save"></i> Aceptar
                    </button>


                </div>
            </form>
        </div>


        <script th:inline="javascript" charset="utf-8">


            function updateCategory() {
                var categoryId = $('#categoryId').val();
                var categoryName = $('#categoryName').val();
                addUpdateCategory(categoryId, categoryName);
            }


        </script>


    </div>





</body>

</html>